// 明亮主题颜色变量

// 背景色
$light-bg-primary: #f2ebe7; // 主背景色 - 浅米色
$light-bg-secondary: #e2c4cf; // 次要背景色 - 淡粉色
$light-bg-tertiary: #b5c6df; // 第三背景色 - 淡蓝色

// 主题色
$light-primary: rgba(212, 153, 173, 248); // 主色调 - 粉色
$light-primary-dark: rgba(164, 111, 135, 253); // 主色调深版 - 深粉色

// 强调色
$light-accent: rgba(198, 153, 166, 70); // 强调色 - 半透明粉色

// 文本色
$light-text-primary: rgba(90, 55, 77, 251); // 主文本色 - 深紫色

// 暗色主题颜色变量

// 背景色
$dark-bg-primary: rgba(49, 43, 60, 254); // 主背景色 - 深紫色
$dark-bg-secondary: rgba(80, 73, 114, 251); // 次要背景色 - 靛蓝色
$dark-bg-tertiary: rgba(226, 218, 220, 254); // 第三背景色 - 浅灰色

// 主题色
$dark-primary: rgba(124, 104, 153, 249); // 主色调 - 紫色
$dark-primary-light: rgba(182, 152, 181, 241); // 主色调浅版 - 淡紫色

// 强调色
$dark-accent: rgba(94, 166, 212, 254); // 强调色 - 蓝色
$dark-accent-light: rgba(224, 207, 201, 54); // 强调色浅版 - 半透明白色

// 文本色
$dark-text-primary: rgba(255, 255, 255, 255); // 主文本色 - 白色

// 导出变量供其他文件使用
:export {
  // 明亮主题
  lightBgPrimary: $light-bg-primary;
  lightBgSecondary: $light-bg-secondary;
  lightBgTertiary: $light-bg-tertiary;
  lightPrimary: $light-primary;
  lightPrimaryDark: $light-primary-dark;
  lightAccent: $light-accent;
  lightTextPrimary: $light-text-primary;

  // 暗色主题
  darkBgPrimary: $dark-bg-primary;
  darkBgSecondary: $dark-bg-secondary;
  darkBgTertiary: $dark-bg-tertiary;
  darkPrimary: $dark-primary;
  darkPrimaryLight: $dark-primary-light;
  darkAccent: $dark-accent;
  darkAccentLight: $dark-accent-light;
  darkTextPrimary: $dark-text-primary;
}
